img { max-width: 100%; vertical-align: middle; }

figure > img { display: block; }

figcaption { font-size: 14px; }

/** Site header */
.site-header { border-top: 5px solid #424242; border-bottom: 1px solid #e8e8e8; min-height: 56px; position: relative; }

.site-title { font-size: 26px; font-weight: 300; line-height: 56px; letter-spacing: -1px; margin-bottom: 0; float: left; }
.site-title, .site-title:visited { color: #424242; }

.site-nav { float: right; line-height: 56px; }
.site-nav .menu-icon { display: none; }
.site-nav .page-link { color: #111; line-height: 1.5; }
.site-nav .page-link:not(:last-child) { margin-right: 20px; }
@media screen and (max-width: 600px) { .site-nav { position: absolute; top: 9px; right: 15px; background-color: #fdfdfd; border: 1px solid #e8e8e8; border-radius: 5px; text-align: right; }
  .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; }
  .site-nav .menu-icon > svg { width: 18px; height: 15px; }
  .site-nav .menu-icon > svg path { fill: #424242; }
  .site-nav .trigger { clear: both; display: none; }
  .site-nav:hover .trigger { display: block; padding-bottom: 5px; }
  .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; }
  .site-nav .page-link:not(:last-child) { margin-right: 0; } }

/** Site footer */
.site-footer { border-top: 1px solid #e8e8e8; padding: 30px 0; }

.footer-heading { font-size: 18px; margin-bottom: 15px; }

.contact-list, .social-media-list { list-style: none; margin-left: 0; }

.footer-col-wrapper { font-size: 15px; color: #828282; margin-left: -15px; }

.footer-col { float: left; margin-bottom: 15px; padding-left: 15px; }

.footer-col-1 { width: -webkit-calc(35% - (30px / 2)); width: calc(35% - (30px / 2)); }

.footer-col-2 { width: -webkit-calc(20% - (30px / 2)); width: calc(20% - (30px / 2)); }

.footer-col-3 { width: -webkit-calc(45% - (30px / 2)); width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) { .footer-col-1, .footer-col-2 { width: -webkit-calc(50% - (30px / 2)); width: calc(50% - (30px / 2)); }
  .footer-col-3 { width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) { .footer-col { float: none; width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }
/** Page content */
.page-content { padding: 30px 0; }

.page-heading { font-size: 20px; }

.post-list { margin-left: 0; list-style: none; }
.post-list > li { margin-bottom: 30px; }

.post-meta { font-size: 14px; color: #828282; }

.post-link { display: block; font-size: 24px; }

/** Posts */
.post-header { margin-bottom: 30px; }

.post-title { font-size: 42px; letter-spacing: -1px; line-height: 1; }
@media screen and (max-width: 800px) { .post-title { font-size: 36px; } }

.post-content { margin-bottom: 30px; }
.post-content h2 { font-size: 32px; }
@media screen and (max-width: 800px) { .post-content h2 { font-size: 28px; } }
.post-content h3 { font-size: 26px; }
@media screen and (max-width: 800px) { .post-content h3 { font-size: 22px; } }
.post-content h4 { font-size: 20px; }
@media screen and (max-width: 800px) { .post-content h4 { font-size: 18px; } }

/** Syntax highlighting styles */
.highlight .c { color: #998; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: #998; font-style: italic; }
.highlight .cp { color: #999; font-weight: bold; }
.highlight .c1 { color: #998; font-style: italic; }
.highlight .cs { color: #999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000; background-color: #fdd; }
.highlight .gd .x { color: #000; background-color: #faa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #a00; }
.highlight .gh { color: #999; }
.highlight .gi { color: #000; background-color: #dfd; }
.highlight .gi .x { color: #000; background-color: #afa; }
.highlight .go { color: #888; }
.highlight .gp { color: #555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #aaa; }
.highlight .gt { color: #a00; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #458; font-weight: bold; }
.highlight .m { color: #099; }
.highlight .s { color: #d14; }
.highlight .na { color: #008080; }
.highlight .nb { color: #0086B3; }
.highlight .nc { color: #458; font-weight: bold; }
.highlight .no { color: #008080; }
.highlight .ni { color: #800080; }
.highlight .ne { color: #900; font-weight: bold; }
.highlight .nf { color: #900; font-weight: bold; }
.highlight .nn { color: #555; }
.highlight .nt { color: #000080; }
.highlight .nv { color: #008080; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbb; }
.highlight .mf { color: #099; }
.highlight .mh { color: #099; }
.highlight .mi { color: #099; }
.highlight .mo { color: #099; }
.highlight .sb { color: #d14; }
.highlight .sc { color: #d14; }
.highlight .sd { color: #d14; }
.highlight .s2 { color: #d14; }
.highlight .se { color: #d14; }
.highlight .sh { color: #d14; }
.highlight .si { color: #d14; }
.highlight .sx { color: #d14; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #d14; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999; }
.highlight .vc { color: #008080; }
.highlight .vg { color: #008080; }
.highlight .vi { color: #008080; }
.highlight .il { color: #099; }

html { -ms-text-size-adjust: 100; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

details, main, summary { display: block; }

audio, canvas, progress, video { vertical-align: baseline; }

[hidden], template { display: none; }

a { background: transparent; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; cursor: help; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: .67em 0; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -.5em; }

sub { bottom: -.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; }

pre { display: block; line-height: 1.4; margin: 0; overflow: auto; word-break: break-all; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { background: transparent; box-shadow: none; overflow: visible; }
button:focus { outline: 0; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input, textarea { -webkit-appearance: none; background: transparent; border: 0; }
input:focus, textarea:focus { outline: none; }
input[type=radio], textarea[type=radio] { -webkit-appearance: radio; cursor: pointer; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: .35em .625em .75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

button, input, select[multiple], textarea { background-image: none; }

*, *::before, *::after { box-sizing: border-box; }

input:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus, .uneditable-input:focus { box-shadow: none; }

ol, ul { list-style-type: none; margin: 0; padding: 0; }

p { margin: 0; }

iframe { border: 0; }

.grid-block { align-items: stretch; display: flex; flex: 1 1 auto; flex-flow: row nowrap; justify-content: flex-start; overflow-x: hidden; overflow-y: auto; }
.grid-block.noscroll { overflow: visible; }
.grid-block.vertical { flex-flow: column nowrap; }
.grid-block.shrink { flex: 0 0 auto; }
.grid-block.grow { flex: 1 1 100%; }
.grid-block.justify-center { justify-content: center; }
.grid-block.justify-right { justify-content: flex-end; }
.grid-block.justify-justified { justify-content: space-between; }
.grid-block.justify-spaced { justify-content: space-around; }
.grid-block.align-center { align-items: center; }
.grid-block.align-start { align-items: flex-start; }
.grid-block.align-end { align-items: flex-end; }

.grid-content { display: block; flex: 1 1 auto; }
.grid-content.shrink { flex: 0 0 auto; }
.grid-content.grow { flex: 1 1 100%; }
.grid-content + .grid-content { margin-left: 15px; }

.vertical > .grid-content { margin-left: 0; }
.vertical > .grid-content + .grid-content { margin-top: 15px; }

.grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8 { flex-wrap: wrap; }

.grid-2 > .grid-block { flex: 0 0 50%; max-width: 50%; }

.grid-3 > .grid-block { flex: 0 0 33.33333%; max-width: 33.33333%; }

.grid-4 > .grid-block { flex: 0 0 25%; max-width: 25%; }

.grid-5 > .grid-block { flex: 0 0 20%; max-width: 20%; }

.grid-6 > .grid-block { flex: 0 0 16.66667%; max-width: 16.66667%; }

.grid-7 > .grid-block { flex: 0 0 14.28571%; max-width: 14.28571%; }

.grid-8 > .grid-block { flex: 0 0 12.5%; max-width: 12.5%; }

.grid-container { margin-left: auto; margin-right: auto; width: 100%; }
@media (min-width: 400px) { .grid-container { max-width: inherit; width: inherit; } }
@media (min-width: 600px) { .grid-container { max-width: 570px; width: 570px; } }
@media (min-width: 768px) { .grid-container { max-width: 738px; width: 738px; } }
@media (min-width: 1024px) { .grid-container { max-width: 994px; width: 994px; } }

.grid-container-sm { max-width: 630px; padding-left: 30px; padding-right: 30px; }

h1, h2, h3, h4 { font-weight: 300; line-height: 1.2; margin: 0; }

.h1 { font-size: 45px; }
@media (max-width: 768px) { .h1 { font-size: 36px; } }

.h2 { font-size: 36px; }
@media (max-width: 768px) { .h2 { font-size: 30px; } }

.h3 { font-size: 30px; }
@media (max-width: 768px) { .h3 { font-size: 24px; } }

.h4 { font-size: 24px; }
@media (max-width: 768px) { .h4 { font-size: 18px; } }

.small { font-size: 13px; font-weight: 400; }

.strong { font-weight: 500; }

.underline { border-bottom: 1px dotted; font-style: normal; }

.hr { background: rgba(0, 0, 0, 0.1); border: 0; height: 1px; width: 100%; }

.pre { font-family: "Source Code Pro", monospace; font-weight: 400; line-height: 1.4; white-space: pre; }

.input-prefix.input-prefix-monospace::after, .monospace { font-family: "Source Code Pro", monospace; font-size: 14px; white-space: pre; word-wrap: normal; }

a { color: currentColor; text-decoration: none; }

.link { cursor: pointer; text-decoration: underline; }
.link:hover, .link:active { text-decoration: none; }

.text-overflow { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.text-rtl { direction: rtl; text-align: left; }

.list-text { list-style-type: circle; margin: 12px; padding: inherit; }

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-blue { color: #0ca6f2; }

.text-gray { color: #888; }

.text-green { color: #3ccb5a; }

.text-orange { color: #f5a11b; }

.text-purple { color: #71438f; }

.text-white { color: #fff; }

.block-quote { border-left: 3px solid; display: block; font-size: 16px; line-height: 1.4; margin: 15px auto; max-width: 600px; padding-left: 15px; text-align: left; text-decoration: none; }
@media (max-width: 600px) { .block-quote { margin: 15px 15px 30px; } }
.block-quote .gravatar { float: left; margin-right: 6px; }
.block-quote .iconnables { float: left; height: 18px; left: -2px; top: -1px; width: 18px; }
.block-quote .small { display: block; height: 18px; line-height: 18px; margin-top: 3px; }

.transform-capitalize { text-transform: capitalize; }

html { font-size: 62.5%; -webkit-tap-highlight-color: transparent; }

body { background: #fff; color: #555; font-family: -apple-system, "Helvetica Neue", "Segoe UI", sans-serif; font-feature-settings: 'kern'; font-size: 19px; font-weight: 300; line-height: 1.6; min-height: 100vh; overflow-x: hidden; text-rendering: optimizeLegibility; }
body.modal-open { overflow: hidden; }

.svg-defs { height: 0 !important; position: absolute !important; visibility: hidden !important; width: 0 !important; }

.footer-col-wrapper::before, .footer-col-wrapper::after, .clearfix::before, .clearfix::after { content: ''; display: table; }
.footer-col-wrapper::after, .clearfix::after { clear: both; }

.float-right { float: right; }

.float-left { float: left; }

.padding-xxs { padding: 9px; }

.padding-xs { padding: 12px; }

.article pre, .padding-sm { padding: 15px; }

.padding-md { padding: 30px; }

.padding-lg { padding: 45px; }

.padding-xl { padding: 60px; }

.no-touching { pointer-events: none !important; }

.breadcrumbs { padding-top: 30px; }
@media (max-width: 400px) { .breadcrumbs { font-size: 15px; } }
.breadcrumbs .link { color: #888; flex: 0 0 auto; padding: 0 12px; text-decoration: none; }
.breadcrumbs .link:hover, .breadcrumbs .link:active { color: #555; }
.breadcrumbs .link.text-overflow { flex: 0 1 auto; }
.breadcrumbs .icons-life-preserver { color: #888; height: 21px; opacity: .75; width: 21px; }
.breadcrumbs .icons-life-preserver:hover, .breadcrumbs .icons-life-preserver:active { opacity: 1; }
.breadcrumbs .icons-chevron-right { color: #ccc; flex: 0 0 auto; height: 12px; width: 12px; }

.btn { border: 0; border-radius: 3px; cursor: pointer; display: inline-block; font-size: 18px; font-weight: 400; padding: 0 15px; position: relative; text-align: center; user-select: none; white-space: nowrap; }
.btn:hover, .btn:active { text-decoration: none; }
.btn:active { transition: none; }
.btn.active > .icons-add, .btn.in > .icons-add { transform: rotate3d(0, 0, 1, 135deg) scale3d(0.75, 0.75, 1); }
.btn[disabled], .btn.disabled { cursor: not-allowed; opacity: .5; }
.btn > .icons-arrow-down { float: right; height: 100%; margin-right: -6px; }
.btn > .icons-arrow-down.btn-xxs { margin-right: -3px; }
.btn .display .iconnables { float: left; height: 21px; margin-right: 6px; top: 6px; width: 21px; }

.btn-lg { border-radius: 6px; font-size: 21px; height: 54px; line-height: 50px; }

.btn-md { font-size: 18px; height: 42px; line-height: 38px; }

.btn-sm { font-size: 16px; height: 36px; line-height: 32px; }
.btn-sm > .img { float: left; margin: 8px 6px 0 0; }

.btn-xs { font-size: 13px; height: 24px; line-height: 20px; padding: 0 6px; }
.btn-xs .tag { font-size: 13px; height: 16px; line-height: 12px; margin: 1px 0 0 6px; }

.btn-xxs { border-radius: 2px; font-size: 12px; height: 18px; line-height: 14px; padding: 0 3px; }

.btn-icon { line-height: 42px; padding: 0; width: 42px; }
.btn-icon.btn-sm { width: 36px; }
.btn-icon.btn-icon-sm { line-height: 36px; min-width: 36px; width: auto; }
.btn-icon.btn-icon-xs { line-height: 24px; min-width: 24px; width: auto; }
.btn-icon.btn-icon-xxs { height: 18px; line-height: 18px; width: 18px; }
.btn-icon .iconnables { height: 100%; width: 100%; }
.btn-icon > .icons-arrow-down { width: 24px; }

.btn-help { background: rgba(255, 255, 255, 0.6); border: 1px solid #ccc; border-radius: 50%; color: #888; height: 24px; text-decoration: none; width: 24px; }
.btn-help:hover { border-color: currentColor; color: rgba(12, 166, 242, 0.6); }
.btn-help:active, .btn-help.active { border-color: currentColor; color: #0ca6f2; }

.btn-close { border-radius: 50%; }
.btn-close .icons-close { color: currentColor; }
.btn-close.btn-xs .icons-close { top: 0; }

.btn-check.active { background: #3ccb5a; border-color: #3ccb5a; }
.btn-check.active .icons-add { transform: scale3d(0, 0, 0); }
.btn-check.active .icons-check { transform: scale3d(1, 1, 1); }
.btn-check .iconnables { height: 100%; position: absolute; right: 0; top: 0; transform: scale3d(0, 0, 0); transition: transform .3s ease-in; width: 100%; }
.btn-check .icons-add { color: #e6e6e6; transform: scale3d(1, 1, 1); transition: none; }

.blue, .gray, .gray-dark, .green, .orange, .purple, .red, .white { border: 2px solid transparent; color: #fff; font-weight: 500; text-decoration: none; }
.blue:active, .gray:active, .gray-dark:active, .green:active, .orange:active, .purple:active, .red:active, .white:active { transition: none; }
.blue:active, .blue.active, .gray:active, .gray.active, .gray-dark:active, .gray-dark.active, .green:active, .green.active, .orange:active, .orange.active, .purple:active, .purple.active, .red:active, .red.active, .white:active, .white.active { box-shadow: none; }
.blue.reversed, .gray.reversed, .gray-dark.reversed, .green.reversed, .orange.reversed, .purple.reversed, .red.reversed, .white.reversed { letter-spacing: 0; }

.blue { color: #ccc; }
.blue.btn:not([disabled]):not(.disabled):hover, .blue.btn:not([disabled]):not(.disabled).hover { color: #0ca6f2; }
.blue.btn:not([disabled]):not(.disabled):active, .blue.btn:not([disabled]):not(.disabled).active, .blue.btn:not([disabled]):not(.disabled).active:hover { color: #0ca6f2; }

.gray { background: #fafafa; border-color: #e6e6e6; color: #555; }
.gray.btn:not([disabled]):not(.disabled):hover, .gray.btn:not([disabled]):not(.disabled).hover { background: #fff; border-color: #ccc; }
.gray.btn:not([disabled]):not(.disabled):active, .gray.btn:not([disabled]):not(.disabled).active, .gray.btn:not([disabled]):not(.disabled).active:hover { background: #fff; border-color: #834fab; color: #834fab; }

.gray-dark { background: #888; border-color: #555; }
.gray-dark.btn:not([disabled]):not(.disabled):hover, .gray-dark.btn:not([disabled]):not(.disabled).hover { background: #555; border-color: #222; }
.gray-dark.btn:not([disabled]):not(.disabled):active, .gray-dark.btn:not([disabled]):not(.disabled).active, .gray-dark.btn:not([disabled]):not(.disabled).active:hover { background: #222; border-color: #000; }

.green { background: #5fd377; border-color: #3ccb5a; }
.green.btn:not([disabled]):not(.disabled):hover, .green.btn:not([disabled]):not(.disabled).hover { background: #8ae09c; }
.green.btn:not([disabled]):not(.disabled):active, .green.btn:not([disabled]):not(.disabled).active, .green.btn:not([disabled]):not(.disabled).active:hover { background: #3ccb5a; transition: none; }

.orange { background: #fcb85d; border-color: #f5a11b; }
.orange.btn:not([disabled]):not(.disabled):hover, .orange.btn:not([disabled]):not(.disabled).hover { background: #ffc880; }
.orange.btn:not([disabled]):not(.disabled):active, .orange.btn:not([disabled]):not(.disabled).active, .orange.btn:not([disabled]):not(.disabled).active:hover { background: #f5a11b; transition: none; }

.purple { color: #834fab; }
.purple.btn { background: #834fab; border-color: #fff; color: #fff; }
.purple.btn:not([disabled]):not(.disabled):hover .purple.btn:not([disabled]):not(.disabled).hover { background: rgba(255, 255, 255, 0.1); }
.purple.btn:not([disabled]):not(.disabled):active, .purple.btn:not([disabled]):not(.disabled).active, .purple.btn:not([disabled]):not(.disabled).active:hover { background: #fff; color: #834fab; }
.purple.btn-group { border: 2px solid #fff; border-radius: 3px; }
.purple.btn-group > .btn { border: 0; border-radius: 0; line-height: 36px; margin: 0; }

.red { color: #f25058; }
.red.btn { background: #f25058; border-color: #e62932; color: #fff; }
.red.btn:not([disabled]):not(.disabled):hover, .red.btn:not([disabled]):not(.disabled).hover { background: #ef737f; }
.red.btn:not([disabled]):not(.disabled):active, .red.btn:not([disabled]):not(.disabled).active, .red.btn:not([disabled]):not(.disabled).active:hover { background: #e62932; }

.white { border-color: #e6e6e6; color: #555; }
.white.btn { background: #fff; }
.white.btn:not([disabled]):not(.disabled):hover, .white.btn:not([disabled]):not(.disabled).hover { border-color: #ccc; }
.white.btn:not([disabled]):not(.disabled):active, .white.btn:not([disabled]):not(.disabled).active, .white.btn:not([disabled]):not(.disabled).active:hover { border-color: #834fab; color: #834fab; }
.white.btn:not([disabled]):not(.disabled):active .icons-round, .white.btn:not([disabled]):not(.disabled).active .icons-round, .white.btn:not([disabled]):not(.disabled).active:hover .icons-round { background: #834fab; }

.btn-cancel { background: transparent; border: 2px solid transparent; }
.btn-cancel:hover, .btn-cancel:active { background: #fff; }

.btn-label { font-size: 12px; height: 22px; line-height: 22px; padding: 0 6px; pointer-events: none; }

.btn-radio { background: #fff; border: 2px solid transparent; border-radius: 3px; box-shadow: none; cursor: pointer; display: inline-block; font-size: 16px; height: 72px; text-align: center; text-decoration: none; transition: none; user-select: none; white-space: nowrap; width: 90px; }
.btn-radio:active, .btn-radio.active { color: #834fab; cursor: default; }
.btn-radio.active { font-weight: 500; }
.btn-radio:focus { outline: 0; }
.btn-radio.btn-lg { height: 108px; width: 120px; }
.btn-radio.btn-lg .img, .btn-radio.btn-lg .iconnables { margin-bottom: 6px; width: 36px; }
.btn-radio:last-child { margin-right: 0; }
.btn-radio .img, .btn-radio .iconnables { display: block; height: 33px; margin: 0 auto; width: 18px; }

.card { background: #fff; border: 1px solid #e6e6e6; border-radius: 6px; box-shadow: 0 2px 9px rgba(0, 0, 0, 0.075); margin: 0 auto; width: 450px; }
@media (max-width: 600px) { .card { font-size: 17px; padding: 15px 15px 30px; width: 100%; } }
@media (max-width: 400px) { .card { margin-left: 0; margin-right: 0; width: auto; } }
.card .h1 { font-size: 21px; font-weight: 500; }
.card > .img { display: block; margin: -120px auto 0; }
@media (max-width: 600px) { .card > .img { margin-top: -105px; width: 150px; } }
.card .list-item { margin-top: 2px; }
.card .link { border: 1px solid transparent; border-radius: 6px; text-decoration: none; }
.card .link:hover { background: #fafafa; border-color: #e6e6e6; }
.card .link:active, .card .link:focus { background: #fff; border-color: #834fab; color: #834fab; }
.card .icons-chevron-right { float: right; height: 18px; opacity: .3; width: 18px; }

.article.article-faq { flex-wrap: wrap; margin: 0 auto; max-width: 1440px; padding: 60px; }
@media (max-width: 768px) { .article.article-faq { padding: 60px 30px; } }
.article.article-faq .question { flex: 0 0 33.33%; padding: 30px; }
@media (max-width: 1440px) { .article.article-faq .question { padding: 30px 21px; } }
@media (max-width: 1024px) { .article.article-faq .question { flex: 0 0 50%; padding: 30px 21px; } }
@media (max-width: 768px) { .article.article-faq .question { flex: 0 0 100%; padding: 30px 60px; } }
@media (max-width: 600px) { .article.article-faq .question { padding: 30px; } }
@media (max-width: 400px) { .article.article-faq .question { padding: 30px 0; } }
.article.article-faq .h3 { font-size: 19px; margin: 0; }
.article.article-faq .p { font-size: 16px; }
.article.article-faq .em { color: #ccc; font-size: 24px; }

.header { background: #0ca6f2; }
.header .logo { flex: 0 0 120px; position: relative; z-index: 1; }
@media (max-width: 350px) { .header .logo { align-items: center; } }
@media (max-width: 350px) { .header .logo .img { height: 100%; width: 100%; } }
.header .nav { align-items: center; }
.header .grid-container { padding: 15px 45px; }
@media (max-width: 768px) { .header .grid-container { padding-left: 15px; padding-right: 15px; } }
@media (max-width: 600px) { .header .grid-container { padding-left: 30px; padding-right: 30px; } }
.header .text-white { opacity: .75; }
.header .product-link { height: 36px; padding: 0; }
.header .product-link + .btn { margin-left: 9px; }
.header .product-link .a { padding: 0 15px; z-index: 1; }
.header .product-link .icons-chevron-down { height: 36px; margin-left: 6px; width: 12px; }
.header .btn-white { border: 2px solid rgba(255, 255, 255, 0.75); line-height: 32px; z-index: 1; }
.header .btn-white:hover { background: rgba(255, 255, 255, 0.1); }
.header .btn-white:active { background: rgba(255, 255, 255, 0.2); }
.header .grid-block { overflow: visible; }
.header .grid-block.shrink { position: relative; }
.header .popover-trigger:hover .icons-overflow, .header .popover-trigger:focus .icons-overflow { color: #fff; }
.header .popover-trigger .icons-overflow { color: #eee1f7; float: left; height: 36px; position: relative; width: 24px; z-index: 1; }

@keyframes always-integrating-down { 0% { opacity: 0; transform: scale3d(1, 1, 1) translate3d(0, -76px, 0); }
  12.5% { opacity: 1; }
  40% { transform: scale3d(1, 1, 1) translate3d(0, 54px, 0); }
  45% { transform: scale3d(1.1, 1.1, 1) translate3d(0, 54px, 0); }
  50%,
  62.5% { transform: scale3d(1, 1, 1) translate3d(0, 54px, 0); }
  90% { transform: scale3d(1, 1, 1) translate3d(0, 76px, 0); }
  100% { opacity: 1; transform: scale3d(1, 1, 1) translate3d(0, 76px, 0); } }
@keyframes always-integrating-down-md { 0% { opacity: 0; transform: scale3d(1, 1, 1) translate3d(0, -57px, 0); }
  12.5% { opacity: 1; }
  40% { transform: scale3d(1, 1, 1) translate3d(0, 40px, 0); }
  45% { transform: scale3d(1.1, 1.1, 1) translate3d(0, 40px, 0); }
  50%,
  62.5% { transform: scale3d(1, 1, 1) translate3d(0, 40px, 0); }
  90% { transform: scale3d(1, 1, 1) translate3d(0, 57px, 0); }
  100% { opacity: 1; transform: scale3d(1, 1, 1) translate3d(0, 57px, 0); } }
@keyframes always-integrating-boom { 0% { opacity: 1; transform: scale3d(1, 1, 1); }
  40% { transform: scale3d(1, 1, 1); }
  45% { transform: scale3d(1.1, 1.1, 1); }
  50% { transform: scale3d(1, 1, 1); }
  62.5% { opacity: 1; transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }
  100% { opacity: 0; transform: scale3d(1, 1, 1) translate3d(0, 76px, 0); } }
@keyframes always-integrating-boom-md { 0% { opacity: 1; transform: scale3d(1, 1, 1); }
  40% { transform: scale3d(1, 1, 1); }
  45% { transform: scale3d(1.1, 1.1, 1); }
  50% { transform: scale3d(1, 1, 1); }
  62.5% { opacity: 1; transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }
  100% { opacity: 0; transform: scale3d(1, 1, 1) translate3d(0, 57px, 0); } }
@keyframes always-testing { 0%,
  20% { transform: scale3d(1, 1, 1); }
  22.5% { transform: scale3d(1.1, 1.1, 1.1); }
  32.5%,
  70% { transform: scale3d(1, 1, 1); }
  72.5% { transform: scale3d(1.1, 1.1, 1.1); }
  82.5%,
  100% { transform: scale3d(1, 1, 1); } }
@keyframes always-sharing { 0%,
  17.5% { opacity: 0; transform: scale3d(1, 1, 1) translate3d(0, -150%, 0); }
  20% { transform: scale3d(1, 1, 1) translate3d(0, -150%, 0); }
  22.5% { opacity: 1; transform: scale3d(1.2, 1.2, 1.1) translate3d(0, -116.25%, 0); }
  32.5% { opacity: 1; transform: scale3d(1, 1, 1) transform3d(0, -101.25%, 0); }
  70% { opacity: 1; transform: scale3d(1, 1, 1) translate3d(0, 45%, 0); }
  100% { opacity: 0; transform: scale3d(1, 1, 1) translate3d(0, 150%, 0); } }
.icon-defintions { display: none; }

.icons { fill: currentColor; }

.icons-close { background: rgba(0, 0, 0, 0.15); border-radius: 3px; color: rgba(255, 255, 255, 0.75); cursor: pointer; height: 30px; width: 30px; }
.icons-close:hover { background: rgba(242, 80, 88, 0.75); }
.icons-close:active { background: #f25058; }
.icons-close .icons { height: 100%; width: 100%; }

input, textarea { cursor: text; }
input[disabled], textarea[disabled] { cursor: not-allowed; }

input[type="checkbox"], input[type="radio"] { box-shadow: none; }
input[type="checkbox"] { -webkit-appearance: checkbox; cursor: pointer; width: auto; }

.input, .textarea { background: #fff; border: 2px solid #e6e6e6; border-radius: 3px; padding: 0 7px; resize: none; width: 100%; word-break: normal; }
@media (-webkit-min-device-pixel-ratio: 1.3) and (max-width: 500px), (min-resolution: 2dppx) and (max-width: 500px) { .input, .textarea { font-size: 16px; } }

.input.focus, .input:focus, .textarea.focus, .textarea:focus { border-color: #834fab; box-shadow: inset 0 0 3px rgba(131, 79, 171, 0.15); }
.input:focus, .textarea:focus { transition: none; }
.input[readonly], .textarea[readonly] { background: #ccc; border: 0; color: #fafafa; cursor: default; }
.input[readonly]:focus, .input[required], .textarea[readonly]:focus, .textarea[required] { box-shadow: none; }
.input.monospace, .textarea.monospace { letter-spacing: -.25px; }
.input::placeholder, .textarea::placeholder { color: #ccc; }

.input { height: 42px; line-height: 38px; }
.input[type="search"] { border-radius: 42px; min-height: 42px; }
.input[type="search"]::-webkit-search-decoration, .input[type="search"]::-webkit-search-cancel-button, .input[type="search"]::-webkit-search-results-button, .input[type="search"]::-webkit-search-results-decoration { display: none; }
.input.input-sm { color: #555; height: 36px; line-height: 32px; }
.input.input-sm[type="search"] { border-radius: 36px; min-height: 36px; }
.input.input-xs { font-size: 13px; height: 24px; line-height: 1; }
.input.input-xs[type="search"] { border-radius: 24px; min-height: 24px; }
.input.input-xxs { font-size: 13px; height: 18px; line-height: 1; }
.input.input-xxs[type="search"] { border-radius: 18px; min-height: 18px; }

input[type="radio"] { -webkit-appearance: none; border: 1px solid #e6e6e6; border-radius: 50%; height: 12px; transition: border-width .1s ease-in; width: 12px; }
input[type="radio"]:hover { border-color: #ccc; }
input[type="radio"]:active, input[type="radio"]:checked { border-color: #834fab; border-width: 4px; }

#input-upload { position: absolute; visibility: hidden; }

.input-search { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.2 16.9'><path fill-opacity='.3' d='M7.3,8.9c-0.9,0-1.6-0.7-1.6-1.6c0-1.3-2-1.3-2,0c0.1,2,1.6,3.6,3.6,3.6C8.6,10.9,8.6,8.9,7.3,8.9L7.3,8.9z'/><path fill-opacity='.3' d='M15.9,15.2L12.7,12c1.1-1.3,1.8-2.9,1.8-4.8c0-4-3.3-7.3-7.3-7.3C3.3,0,0,3.3,0,7.3s3.3,7.3,7.3,7.3c1.5,0,2.8-0.4,4-1.2l3.3,3.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3C16.3,16.2,16.3,15.6,15.9,15.2z M2,7.3C2,4.4,4.4,2,7.3,2c2.9,0,5.3,2.4,5.3,5.3s-2.4,5.3-5.3,5.3C4.4,12.5,2,10.2,2,7.3z'/></svg>"); background-position: 51px center; background-repeat: no-repeat; background-size: 12px; border-width: 1px; color: #888; font-size: 14px; padding-left: 72px; transition: all .15s ease-in; }
.input-search:focus, .input-search:valid { background-color: #fff; background-position: 3px center; border-color: #3ccb5a; padding-left: 27px !important; transition: all .15s ease-in; }

.input-prefix { position: relative; }
.input-prefix::after { color: #ccc; content: attr(data-prefix); display: block; font-weight: 500; height: 36px; left: 0; line-height: 36px; padding-left: 9px; position: absolute; text-align: center; top: 0; }
.input-prefix .input { padding-left: 12px; }

.input-spinner { position: relative; }
.input-spinner > .input ~ .spinner-wrapper { right: -24px; top: 14px; }
.input-spinner > .input-sm ~ .spinner-wrapper { top: 11px; }
.input-spinner > .spinner-wrapper { position: absolute; }

.input-group-vertical { position: relative; }
.input-group-vertical .label { color: #888; font-size: 14px; padding: 0 10px; position: absolute; top: 6px; }
.input-group-vertical .input-md { height: 62px; padding-top: 20px; }

.input-validate, .btn-validate { transition: none; }
.input-validate.invalid, .input-validate:not(.pristine):invalid, .btn-validate.invalid, .btn-validate:not(.pristine):invalid { border-color: #f25058; }
.input-validate.invalid:valid, .btn-validate.invalid:valid { border-color: #e6e6e6; }
.input-validate.invalid:valid:focus, .btn-validate.invalid:valid:focus { border-color: #834fab; }

.popover-trigger { outline: 0; overflow: visible; position: relative; }
.popover-trigger.hover:hover .popover, .popover-trigger.hover:active .popover, .popover-trigger.click:focus .popover { opacity: 1; transform: scale3d(1, 1, 1) translate3d(-50%, 0, 0); transition: all .15s ease-in-out; visibility: visible; }
@media (max-width: 768px) { .popover-trigger.hover:hover .right-align-sm .popover, .popover-trigger.hover:active .right-align-sm .popover, .popover-trigger.click:focus .right-align-sm .popover { transform: scale3d(1, 1, 1); } }
.popover-trigger.click .popover { pointer-events: auto; }
.popover-trigger.has-links:hover .popover-hover-wrapper, .popover-trigger.has-links:hover .popover, .popover-trigger.has-links:active .popover-hover-wrapper, .popover-trigger.has-links:active .popover { pointer-events: auto; }
.popover-trigger .popover-hover-wrapper { cursor: default; padding-top: 48px; pointer-events: none; position: absolute; transform: translate3d(-50%, 0, 0); }
.popover-trigger .popover-hover-wrapper .popover { position: relative; }
@media (max-width: 768px) { .popover-trigger .right-align-sm { transform: translate3d(-100%, 0, 0); }
  .popover-trigger .right-align-sm .popover { left: auto; transform: scale3d(0.2, 0.2, 1); transform-origin: 95% 0; } }
@media (max-width: 768px) { .popover-trigger .right-align-sm .popover::before, .popover-trigger .right-align-sm .popover::after { left: auto; right: 15px; } }
@media (max-width: 400px) { .popover-trigger .right-align-sm .popover::before, .popover-trigger .right-align-sm .popover::after { right: 30px; } }

.popover { background: #fff; border: 1px solid #e6e6e6; border-radius: 3px; cursor: default; left: 50%; margin: 0 auto; opacity: 0; padding: 15px; pointer-events: none; position: absolute; transform: scale3d(0.2, 0.2, 1) translate3d(-50%, 0, 0); transition: all .15s ease-in-out; visibility: hidden; z-index: 100; }
.popover.bottom { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); top: calc(100% + 12px); transform-origin: 0 0; }
.popover.bottom::after { border-bottom: 9px solid #fff; border-left: 9px solid transparent; border-right: 9px solid transparent; top: -9px; }
.popover.bottom::before { border-bottom: 10px solid #e6e6e6; border-left: 10px solid transparent; border-right: 10px solid transparent; top: -10px; }
.popover.top { bottom: calc(100% + 12px); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); transform-origin: 0 100%; }
.popover.top::after { border-left: 9px solid transparent; border-right: 9px solid transparent; border-top: 9px solid #fff; bottom: -9px; }
.popover.top::before { border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #e6e6e6; bottom: -10px; }
.popover::after, .popover::before { content: ''; height: 0; left: 0; margin: 0 auto; position: absolute; right: 0; width: 0; }
.popover .list { padding: 0; }
.popover .divider { background: #e6e6e6; height: 1px; margin: 9px -15px; }

.spinner-wrapper { display: flex; }
.spinner-wrapper .spinner { animation: spinner 1s infinite linear; fill: none; margin: 0 auto; stroke-dasharray: 30,6; }
.spinner-wrapper.spinner-sm .spinner { height: 16px; width: 16px; }
.spinner-wrapper.spinner-sm .spinner .path { stroke-width: 2; }
.spinner-wrapper.spinner-md .spinner { height: 32px; width: 32px; }
.spinner-wrapper.spinner-md .spinner .path { stroke-width: 1.25; }
.spinner-wrapper.spinner-lg .spinner { height: 64px; width: 64px; }
.spinner-wrapper.spinner-lg .spinner .path { stroke-width: .75; }
.spinner-wrapper .path { stroke: currentColor; }
.spinner-wrapper.spinner-blue .path { stroke: #0ca6f2; }
.spinner-wrapper.spinner-purple .path { stroke: #834fab; }
.spinner-wrapper.spinner-white .path { stroke: #fff; }
.spinner-wrapper.spinner-gray .path { stroke: #ccc; }
.spinner-wrapper.spinner-green .path { stroke: #3ccb5a; }
.spinner-wrapper.spinner-center { align-items: center; height: 100%; left: 0; position: absolute; right: 0; top: 0; }

@keyframes spinner { 0% { transform: rotate(0); }
  100% { transform: rotate(360deg); } }
.well { border: 1px solid #e6e6e6; border-radius: 6px; color: #888; }
.well > .icons-chevron-right { flex: 0 0 auto; height: 30px; margin-left: 15px; opacity: .3; width: 18px; }

.well-anchor { align-items: center; color: #555; cursor: pointer; display: flex; font-size: 21px; margin-left: auto; margin-right: auto; max-width: 660px; padding: 30px; }
@media (max-width: 768px) { .well-anchor { margin-left: 30px; margin-right: 30px; max-width: none; } }
@media (max-width: 600px) { .well-anchor { flex-direction: column; padding: 15px 30px 30px; text-align: center; } }
@media (max-width: 400px) { .well-anchor { font-size: 17px; margin-left: 0; margin-right: 0; } }
.well-anchor:hover { border-color: #834fab; box-shadow: inset 0 0 0 1px #834fab; }
.well-anchor:hover .a { text-decoration: underline; }
.well-anchor:hover .icons, .well-anchor:active .icons { color: #834fab; }
.well-anchor .img { margin-right: 15px; }
@media (max-width: 600px) { .well-anchor .img.grid-block { height: auto; margin-bottom: 9px; margin-right: 0; max-width: 75px; } }
.well-anchor .p { line-height: 1.4; margin-bottom: 0; }
@media (max-width: 600px) { .well-anchor .p { max-width: 450px; } }
.well-anchor .a { color: #834fab; font-size: 14px; white-space: nowrap; }
@media (max-width: 350px) { .well-anchor .a { font-size: 12px; } }
.well-anchor .a .icons { height: 12px; margin-top: 1px; position: relative; top: 1px; width: 12px; }

.main { overflow: visible; padding-bottom: 30px; width: 100%; }
@media (max-width: 600px) { .main > .grid-container { padding: 0 30px; } }
@media (max-width: 1024px) { .main .grid-2 { flex-direction: column; } }
@media (max-width: 1024px) { .main .grid-2 > .grid-block { flex: 1 1 auto; max-width: none; } }
.main .card { margin-bottom: 90px; }
.main .categories .card { margin: 75px auto 30px; }
@media (max-width: 600px) { .main .categories .card:last-child { margin-bottom: 0; } }
.main .well-anchor { min-width: 660px; }
@media (max-width: 768px) { .main .well-anchor { min-width: 0; } }

.hero { background: #0ca6f2; padding: 60px 0 150px; }
.hero > .grid-block { max-width: 600px; }
.hero + .grid-container { margin-top: -60px; overflow: visible; }
@media (max-width: 600px) { .hero + .grid-container { margin-top: -30px; } }
.hero .h1 { font-size: 42px; font-weight: 300; line-height: 1.3; }
@media (max-width: 768px) { .hero .h1 { font-size: 39px; max-width: 630px; } }
@media (max-width: 600px) { .hero .h1 { font-size: 36px; } }
@media (max-width: 400px) { .hero .h1 { font-size: 30px; max-width: 420px; } }
.hero .h1, .hero .p { color: #fff; padding: 0 30px; }
.hero .p { font-size: 21px; margin-top: 9px; }
@media (max-width: 768px) { .hero .p { max-width: 600px; } }
@media (max-width: 600px) { .hero .p { font-size: 18px; max-width: 510px; } }
@media (max-width: 430px) { .hero .p { max-width: 400px; } }
.hero .btn { background: #23aff4; border: 1px solid #fff; color: #fff; display: table; margin: 30px auto 15px; font-weight: 300; }
.hero .btn:hover, .hero .btn:focus { background: #3cb8f5; }
.hero .btn:active { background: #0ca6f2; }

.footer { align-items: center; background: linear-gradient(#fafafa, #fff); border-top: 1px solid #e6e6e6; margin: 0 auto; overflow: visible; padding-top: 30px; position: relative; }
@media (max-width: 400px) { .footer { padding-left: 30px; padding-right: 30px; } }
.footer .well-anchor .p { margin-bottom: 9px; margin-right: 120px; }
@media (max-width: 600px) { .footer .well-anchor .p { margin-right: 0; } }
.footer .link-wrapper { padding: 60px; }
.footer .link { color: #ccc; font-size: 19px; line-height: 24px; margin: 15px 27px; text-decoration: none; }
.footer .link:hover, .footer .link:active { color: #888; }
.footer .hr { background: #f3f3f3; margin: 0 auto; width: 510px; }

.modal-backdrop { background: rgba(255, 255, 255, 0.98); bottom: 0; left: 0; opacity: 0; overflow-y: auto; pointer-events: none; position: fixed; right: 0; top: 0; transform: scale3d(1.2, 1.2, 1); transition: opacity .3s ease-in-out, transform .3s ease-in-out; z-index: 100; }

.modal.shake { animation: shake .25s ease-in-out; }
.modal .well { align-items: center; background: #e95960; border: 2px solid #be424d; border-radius: 6px; color: #fff; display: none; font-size: 16px; font-weight: 400; justify-content: center; line-height: 1.4; margin: 0; min-height: 78px; padding: 15px 69px; position: relative; width: 100%; }
@media (max-width: 400px) { .modal .well { font-size: 14px; } }
.modal .well .img { left: 15px; position: absolute; top: -30px; }
@media (max-width: 400px) { .modal .well .img { top: -18px; } }
.modal > .article { left: 0; position: absolute; right: 0; top: 0; transition: opacity .3s ease-in-out, transform .3s ease-in-out; }
.modal > .article.article-sign-up { z-index: 101; }
.modal > .article.article-questionnaire, .modal > .article.article-confirm { opacity: 0; transform: translate3d(0, 100px, 0); z-index: 100; }
.modal > .article.in { opacity: 1; transform: translate3d(0, 0, 0); z-index: 101; }
.modal > .article.out { opacity: 0; transform: translate3d(0, -100px, 0); z-index: 100; }

#sign-up:target { opacity: 1; pointer-events: auto; transform: scale3d(1, 1, 1); }
#sign-up:target .modal > .article.article-confirm { pointer-events: none; }
#sign-up:target .modal > .article.out { pointer-events: none; }
#sign-up:target .modal > .article.in { pointer-events: auto; }
#sign-up .icons-close { cursor: pointer; position: absolute; right: 15px; top: 15px; width: 30px; z-index: 102; }

@keyframes shake { 0% { transform: none; }
  25% { transform: translate3d(2%, 0, 0); }
  50% { transform: translate3d(-2%, 0, 0); }
  75% { transform: translate3d(2%, 0, 0); }
  100% { transform: none; } }
.coming-soon { margin: 0 auto 30px; }
.coming-soon .small { color: #ccc; margin-bottom: 15px; }
.coming-soon .img { opacity: .15; }

.sign-up-box { align-items: flex-start; align-self: stretch; background: #fff; min-width: 660px; overflow: visible; padding-left: 45px; position: relative; }
@media (max-width: 720px) { .sign-up-box { min-width: 0; } }
@media (max-width: 600px) { .sign-up-box { align-items: center; padding: 30px 15px 105px; } }
.sign-up-box .img { bottom: 0; height: auto; position: absolute; right: 0; width: 150px; }
@media (max-width: 600px) { .sign-up-box .img { left: 0; margin: 0 auto; width: 105px; } }

.article-form { border-radius: 6px; margin: 30px auto; max-width: 600px; padding: 60px; }
@media (max-width: 600px) { .article-form { border-radius: 0; margin: 0; padding: 60px 30px 45px; } }
@media (max-width: 400px) { .article-form { margin: 0 auto; } }
.article-form .h1 { line-height: 1.1; margin-bottom: 15px; }
@media (max-width: 350px) { .article-form .h1 { margin-bottom: 9px; } }
.article-form .form { overflow: visible; }
.article-form .popover-trigger { cursor: pointer; margin-left: 3px; top: -1px; }
.article-form .popover { color: #888; font-size: 14px; line-height: 1.4; width: 280px; }
.article-form .input-group-vertical { flex: 0 0 auto; margin-top: 15px; overflow: visible; }
@media (max-width: 768px) { .article-form .input-group-vertical { min-width: 100%; }
  .article-form .input-group-vertical:first-child { padding-bottom: 12px; } }
.article-form .input-group-vertical .input-md { border-radius: 6px; }
.article-form .radio-group { position: relative; }
@media (max-width: 400px) { .article-form .radio-group > .grid-block { flex-flow: column nowrap; } }
.article-form .radio-group .p { padding-bottom: 10px; }
@media (max-width: 380px) { .article-form .radio-group .p { margin: 0 auto; max-width: 210px; } }
.article-form .input-radio { bottom: 0; opacity: 0; pointer-events: none; position: absolute; }
.article-form .input-radio:checked + .radio, .article-form .input-radio:checked + .radio:hover { border-color: currentColor; color: #834fab; }
.article-form .input-radio:checked + .radio .icons:last-child, .article-form .input-radio:checked + .radio:hover .icons:last-child { background: #3ccb5a; color: #fff; }
.article-form .input-radio.invalid:not(:valid) + .radio, .article-form .input-radio.invalid:not(:valid) + .radio:hover { border-color: currentColor; color: #f25058; }
.article-form .input-radio[disabled]:not(:checked) + .radio, .article-form .input-radio[disabled]:not(:checked) + .radio:hover, .article-form .input-radio[disabled]:not(:checked) + .radio:active { border-color: #e6e6e6; color: #555; }
.article-form .input-radio[disabled] + .radio { cursor: not-allowed; }
.article-form .radio { align-items: center; display: flex; flex: 1 1; height: 90px; justify-content: center; line-height: 86px; padding-left: 0; padding-right: 30px; }
@media (max-width: 600px) { .article-form .radio { font-size: 18px; } }
@media (max-width: 400px) { .article-form .radio { line-height: 56px; max-height: 60px; } }
.article-form .radio:last-child { margin-left: 15px; }
@media (max-width: 400px) { .article-form .radio:last-child { margin: 15px 0 0; } }
.article-form .radio .icons:first-child { height: 100%; margin-right: 9px; width: 24px; }
@media (max-width: 600px) { .article-form .radio .icons:first-child { margin-right: 6px; width: 21px; } }
.article-form .radio .icons:last-child { border: 1px solid currentColor; border-radius: 50%; color: #e6e6e6; height: 24px; padding: 6px; position: absolute; right: 15px; top: 31px; width: 24px; }
@media (max-width: 400px) { .article-form .radio .icons:last-child { top: 16px; } }
.article-form .btn.green { margin-top: 30px; }
.article-form .btn.green .spinner-wrapper { height: 100%; padding: 9px; position: absolute; right: 6px; top: 0; width: 39px; }

.article { margin-left: auto; margin-right: auto; max-width: 750px; padding-top: 75px; position: relative; width: 100%; }
@media (max-width: 768px) { .article { padding-top: 60px; } }
.article > *:last-child:not(.well) { margin-bottom: 75px; }
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6, .article p, .article blockquote, .article pre, .article ul, .article ol, .article dl, .article figure, .article .highlight { margin-bottom: 30px; }
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 { font-weight: 500; padding: 15px 0; }
.article pre, .article code { background-color: #fafafa; border: 1px solid #e6e6e6; border-radius: 6px; font-size: 15px; }
.article code { padding: 1px 5px; }
.article pre { overflow-x: auto; }
.article pre > code { border: 0; padding-left: 0; padding-right: 0; }
.article p code { word-break: break-word; }
.article .highlight { background: #fafafa; }
.highlighter-rouge .article .highlight { background: #fafafa; }
.article table { display: block; font-size: 15px; margin: 60px 0; overflow: auto; text-align: left; }
.article thead { border-bottom: 1px solid; }
.article th, .article td { min-width: 150px; }
.article th { padding: 9px; text-align: left; white-space: nowrap; }
.article td { padding: 9px; vertical-align: top; }
.article td > strong { white-space: nowrap; }
.article ol, .article ul { padding-left: 30px; }
.article ol { list-style-type: decimal; }
.article ul { list-style-type: circle; }
.article li + li { margin-top: 6px; }
.article blockquote { border-left: 2px solid #e6e6e6; color: #888; font-style: italic; margin-left: 30px; margin-right: 30px; padding: 0 30px; }
.article blockquote > :last-child { margin-bottom: 0; }
.article a:not(.well-anchor) { color: currentColor; cursor: pointer; text-decoration: underline; }
.article a:not(.well-anchor):hover, .article a:not(.well-anchor):active { text-decoration: none; }
.article .indent { margin-left: 30px; }
.article .well-anchor:last-child { margin-top: 75px; }

.page-landing .ol, .page-landing .ul, .page-landing .p { margin-bottom: 9px; }
.page-landing .ol, .page-landing .ul { list-style-type: circle; margin: 0; padding-left: 21px; }
.page-landing .hr { background: #e6e6e6; border: 0; height: 1px; margin-bottom: 30px; margin-top: 30px; }
@media (max-width: 600px) { .page-landing .hr { margin-left: 30px; margin-right: 30px; max-width: calc(100% - 60px); } }
.page-landing .hr.hr-footer { margin-top: 150px; }
@media (max-width: 768px) { .page-landing .hr.hr-footer { margin-top: 60px; } }
.page-landing .img-centered { display: block; margin: 0 auto; }
@media (max-width: 400px) { .page-landing .img-centered { height: auto; max-width: 100%; } }

.visible-xxxs, .visible-xxs, .visible-xs, .visible-sm, .visible-md, .visible-lg, .visible-xl { display: none; }

@media (max-width: 350px) { .visible-xxxs { display: inherit; } }
@media (max-width: 400px) { .visible-xxs { display: inherit; } }
@media (max-width: 600px) { .visible-xs { display: inherit; } }
@media (max-width: 768px) { .visible-sm { display: inherit; } }
@media (max-width: 1024px) { .visible-md { display: inherit; } }
@media (max-width: 1440px) { .visible-lg { display: inherit; } }
@media (max-width: 1920px) { .visible-xl { display: inherit; } }
.hidden-xxxs, .hidden-xxs, .hidden-xs, .hidden-sm, .hidden-md, .hidden-lg, .hidden-xl { display: inherit; }

@media (max-width: 350px) { .hidden-xxxs { display: none; } }
@media (max-width: 400px) { .hidden-xxs { display: none; } }
@media (max-width: 600px) { .hidden-xs { display: none; } }
@media (max-width: 768px) { .hidden-sm { display: none; } }
@media (max-width: 1024px) { .hidden-md { display: none; } }
@media (max-width: 1440px) { .hidden-lg { display: none; } }
@media (max-width: 1920px) { .hidden-xl { display: none; } }